<% provide(:title, 'About Us') %>

   <div class="row">
    <div class="small-10 large-centered columns">
     <p>The <a href="https://storythings.herokuapps.com/">Storythings</a>
      is a project to create a web app (and eventually mobile app) to manage your personal items you own.

      It draws some inspiration from <a href="">100 Things Challenge</a> (<a href="">original link</a>).
     </p>
    </div>
   </div>