<% provide(:title, 'Admin Page') %>

   <div class="row">
    <div class="small-12 small-centered columns">
     <ul class="button-group radius">
      <li>For users admin view, go to <%= link_to "users list", users_path %>, choose user you want to change, and click admin user button.</li>
      <li>For items admin view, go to <%= link_to "items list", items_path %>, click admin item button.</li>
     </ul>
    </div>
   </div>