<% provide(:title, 'Contact') %>

   <div class="row">
    <div class="small-12 small-centered columns">
     <p>
      <a href="http://storythin.gs/">Storythings</a>
      is created by <a href="http://thw.kapsi.fi/">Thomas Westerberg</a>.
     </p>
    </div>
   </div>