<% provide(:title, 'Testing') %>

   <div class="row">
    <div class="small-12 small-centered columns">
     <p>These are for quick testing the layout in mobile phone resolutions.</p>
     <%= link_to "Lumia 520 (480x800)" , root_path, class: "tiny button", :onclick => "window.open('/','popup','width=480,height=800,scrollbars=yes,resizable=no,toolbar=no,directories=no,location=no,menubar=no,status=no,left=50,top=0'); return false" %>
     <%= link_to "iPhone 5 (640x1136)" , root_path, class: "tiny button", :onclick => "window.open('/','popup','width=480,height=800,scrollbars=yes,resizable=no,toolbar=no,directories=no,location=no,menubar=no,status=no,left=50,top=0'); return false" %>
    </div>
   </div>