<% provide(:title, "User Admin View") %>

   <div class="row">
    <div class="small-12 small-centered columns">
     <ul class="button-group radius">
      <li><%= link_to "Make into Admin", users_path, class: "tiny button" %></li>
      <li><%= link_to "Set level", users_path, class: "tiny button" %></li>
      <li><%= link_to "Set player class", users_path, class: "tiny button" %></li>
     </ul>
    </div>
   </div>
