<% provide(:title, 'All users') %>

<%= will_paginate %>

   <div class="row">
    <div class="small-10 large-centered columns">
     <ul class="items">
      <%= render @users %>
     </ul>
    </div>
   </div>

<%= will_paginate %>