 <li>XP <b><%= link_to experience.name, experience %></b>
 	(<%= link_to 'Edit', edit_experience_path(experience) %>, <%= link_to 'Destroy', experience, method: :delete, data: { confirm: 'Are you sure?' } %></li> 