<% if item.root? %>
<li>ROOT <b><%= link_to item.name, item %></b>, <%= link_to 'Edit', edit_item_path(item) %></li>
<% else %>
<li>NONROOT <b><%= link_to item.name, item %></b>, <%= link_to 'Edit', edit_item_path(item) %></li>
<% end %>