<% provide(:title, 'Boxes') %>

   <div class="row">
    <div class="small-10 large-centered columns">
     <ul class="button-group">
      <li><%= link_to "Create New Box", newbox_items_path, class: "button tiny" %></li>
      <li><%= link_to "Things", things_path, class: "button tiny" %></li>
     </ul>
    </div>
   </div>

   <div class="row">
    <div class="small-10 large-centered columns">
     <ul class="items">
      <%= render @items %>
     </ul>
    </div>
   </div>