<% provide(:title, 'Boxes') %>

<ul class="button-group">
  <li><%= link_to "Create New Box", newbox_items_path, class: "button" %></li>
  <li><%= link_to "Things", things_path, class: "button" %></li>
</ul>

<ul class="items">
  <%= render @items %>
</ul>