<% provide(:title, 'Collections') %>

   <div class="row">
    <div class="small-12 small-centered columns">
     <ul class="items">
      <% @items.each do |r| %>
       <% if r.root? %>
        <li><b><%= link_to r.name, r %></b></li>
       <% end %>
      <% end %>
     </ul>
    </div>
   </div>