<% provide(:title, 'Collections') %>
<h1>Collections</h1>

<ul class="items">
<% @items.each do |r| %>
 <% if r.root? %>
 <li><b><%= link_to r.name, r %></b>, <%= link_to 'Edit', edit_item_path(r) %></li>
 <% end %>
<% end %>
</ul>