<% provide(:title, 'Items') %>

   <div class="row">
    <div class="small-12 small-centered columns">
     <ul class="items">
      <%= will_paginate %>
     </ul>
    </div>
   </div>
   <div class="row">
    <div class="small-12 small-centered columns">
     <ul class="items">
      <%= render @items %>
     </ul>
    </div>
   </div>
   <div class="row">
    <div class="small-12 small-centered columns">
     <ul class="items">
      <%= will_paginate %>
     </ul>
    </div>
   </div>
