<% provide(:title, 'Items Summary') %>

   <div class="row">
   	<div class="small-12 small-centered columns">ITEMS: <%= @n_of_items %></div>
   </div>
   <div class="row">
   	<div class="small-12 small-centered columns">BOXES: <%= @n_of_boxes %></div>
   </div>
   <div class="row">
   	<div class="small-12 small-centered columns">COMPONENTS: <%= @n_of_components %></div>
   </div>
   <div class="row">
   	<div class="small-12 small-centered columns">
   	 <hr/>
   	 TOTAL: <%= @n_total %>
    </div>
   </div>