<% provide(:title, 'Throw Away') %>

   <div class="row">
    <div class="small-10 large-centered columns">
     <ul>
      <li>ebay</li>
      <li>tori.fi</li>
      <li>huuto.net</li>
     </ul>
    </div>
   </div>