<% provide(:title, 'Throw Away') %>

   <div class="row">
    <div class="small-12 small-centered columns">
     <ul>
      <li>ebay</li>
      <li><%= link_to 'Tori.fi', 'http://www2.tori.fi/ai/form/0' %></li>
      <li>huuto.net</li>
     </ul>
    </div>
   </div>