 
 <nav class="top-bar" data-topbar>
  <ul class="title-area">
   <li class="name"><h1><%= link_to site_title, root_path, id: "logo" %></h1></li>
   <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>
  <section class="top-bar-section">
   <ul class="right">
    <% if signed_in? %>
     <li class="active"><%= link_to "Sign out", signout_path, method: "delete" %></li>
    <% else %> 
     <li class="active"><%= link_to "Sign in", signin_path %></li>
    <% end %>
   </ul>
  </section>
 </nav>
 