<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to site_title, root_path, id: "logo" %></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>
  <section class="top-bar-section">
   <% if signed_in? %>
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><%= link_to "Sign out", signout_path, method: "delete" %></li>
    </ul>
   <% else %> 
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><%= link_to "Sign in", signin_path %></li>
    </ul>
   <% end %>

  </section>
</nav>